@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import "./components/homeHeader";
@import "./components/homeCarousel";
@import "./pages/homePage";
@import "./base/typography";
@import "./pages/auth-page";
@import "./components/loginComponent";
@import "./components/baseButton";
@import "./components/verfiyComponent";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
