.base-button,
.base-link a {
  text-decoration: none;
  padding: 0.4rem 2rem;
  font: inherit;
  background-color: red;
  /* border: 1px solid #3a0061; */
  color: white;
  cursor: pointer;
  border: none;
  //   border-radius: 5px;
  font-size: 1.3rem;

  /* margin-right: 0.5rem; */
  display: inline-block;
}

a:hover,
a:active,
.base-button:hover,
.base-button:active {
  opacity: 0.8;
}
