.shipment-item {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .gray {
      color: #888888;
    }
    .date {
      font-size: 13px;
    }
    h2 {
      font-weight: 1000;
    }
    .green {
      color: rgb(152, 207, 69);
      span {
        display: inline-block;
        // padding: 1px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: rgb(152, 207, 69);
      }
    }
  }
}
