.shipment-list {
  .shipments-list-title {
    font-weight: bold;
    margin-top: 3rem;
  }

  .shipments-list-subtitle {
    color: gray;
    font-size: 15px;
    margin-bottom: 2rem;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
  }
}
